.section2 {width: 600px; position: absolute; background-color: blue;}
.section3 {width: 600px; position: absolute; background-color: red;}
.section4 {width: 600px; position: absolute; background-color: yellow;}
.section5 {width: 600px; position: absolute; background-color: purple;}
.section6 {width: 600px; position: absolute; background-color: pink;}